<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome Webshop!</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="header-top">
                <div class="banner">Awesome Webshop!</div>
                <form action="/" method="get">
                    <input type="search" name="search" id="search" placeholder="Search...">
                    <button type="submit">x</button>
                </form>
                <div>
                    <div class="lang">
                        <p>Lang</p>
                    </div>
                    <div class="user">
                        <div>X</div>
                        <div>
                            <p>Welcome</p>
                            <b><a href="/signup">Register</a>
                            / <a href="/login">Sign in</a>
                            </b>
                        </div>
                    </div>
                    <div class="cart">
                        <div>X</div>
                        <div>
                            <p>0</p>
                            <b><a href="/cart/:id">Cart</a>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a href="#">All categories</a></li>
                    <li><a href="#">SuperDeals</a></li>
                    <li><a href="#">Home</a></li>
                </ul>
            </nav>
            <div class="user">

            </div>
        </div>
    </header>
</body>
</html>