@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(121deg, rgba(63,94,251,1) 21%, rgba(252,70,107,1) 100%);
}

form {
    margin: auto;
    max-width: 450px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgba(0,0,0,0.5);
    background-color: white;
    border-radius: 5px;

}

form > div {
    margin: 8px 0;
    padding: 0 16px;
}

form > h2 {
    grid-column: span 2;
    text-align: center;
    text-decoration: underline;
    margin: 16px 0;
    font-family: 'Montserrat';
}

legend {
    padding: 12px 8px;
    grid-column: span 2;
    font-weight: bold;
    color: rgb(253, 253, 253);
    background-color: rgba(252,70,107,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Open Sans';
    font-size: 12px;
}

form label {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 4px;
    font-family: 'Open Sans';
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    width: calc(100% - 8px);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
    border: none;
    font-size: 14px;
    color: rgba(0,0,0,0.7);
    padding: 4px;

}

input:focus {
    outline: none;
}

button[type="submit"] {
    background:  rgba(252,70,107,1);
    color: white;
    border: none;
    padding: 5px 12px;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-size: 12px;
}

button[type="submit"]:hover{
    background:  rgba(252,70,107,0.9);
}

.spacer {
    grid-column: span 2;
}

.terms {
    display: flex;
    align-items: center;
    gap: 4px;
    grid-column: span 2;
}

.terms > label {
    font-size: 10px;
}

h5 {
    grid-column: span 2;
    margin: 0px 16px;
    font-family: 'Open Sans';
}

@media screen and (max-width: 500px) {
    form {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    form > div {
        padding: 0px 12px;
    }

    form > h2 {
        padding: 0px 12px;
    }

    legend {
        grid-column: span 1;
    }
    
}